{% extends "./base.html" %}
{% load static %}
{% block title %}Store{% endblock %}
{% block content %}


<main>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" >{{ product.product_name }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                Product Price :<span class="text-muted" style="font-weight: bold;margin-right: 25%;">{{ product.price }}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ product.description }}</small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <a href="basket/addTo_basket/{{ product.product_id }}/">Add to Basket</a> 
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}